<div class="row">
  <div class="col-2">&nbsp;</div>
  <div class="card col-xs-12 col-md-8" style="margin-left: 50px;">
    <div class="card-body">
      <h2 align="center"> Configuracion</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
<div class="row"></div>
    <div class="row">

      <div class="card" style="width: 25rem;margin-left: 50px;">
        <div class="card-body">
          <h5 class="card-title center">Coaches</h5>
          <p class="card-text center"> <i class="material-icons large">person</i></p>
          <a class="btn-floating btn-large waves-effect waves-light amber right" title="Editar" href="<%= coaches_path %>"><i class="material-icons  ">create</i></a>
        </div>
      </div>
      <div class="card" style="width: 25rem; margin-left: 50px;">

        <div class="card-body">
          <h5 class="card-title center">Tipo de Coaches</h5>
          <p class="card-text center"> <i class="material-icons large">people</i></p>
          <a class="btn-floating btn-large waves-effect waves-light amber right" title="Editar" href="<%= coach_types_path %>"><i class="material-icons  ">create</i></a>
        </div>
      </div>
      <div class="card" style="width: 25rem; margin-left: 50px;">

        <div class="card-body">
          <h5 class="card-title center">Horario</h5>
          <p class="card-text center"> <i class="material-icons large">history</i></p>
          <a class="btn-floating btn-large waves-effect waves-light amber right" title="Editar" href="<%= coach_types_path %>"><i class="material-icons  ">create</i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card" style="width: 25rem;margin-left: 50px;">
        <div class="card-body">
          <h5 class="card-title center">Paquetes</h5>
          <p class="card-text center"> <i class="material-icons large">folder</i></p>
          <a class="btn-floating btn-large waves-effect waves-light amber right" title="Editar" href="<%= packages_path %>"><i class="material-icons  ">create</i></a>
        </div>
      </div>
      <div class="card" style="width: 25rem; margin-left: 50px;">

        <div class="card-body">
          <h5 class="card-title center">Tipo de Paquetes</h5>
          <p class="card-text center"> <i class="material-icons large">dvr</i></p>
          <a class="btn-floating btn-large waves-effect waves-light amber right" title="Editar" href="<%= package_types_path %>"><i class="material-icons  ">create</i></a>
        </div>
      </div>

    </div>
  </div>
</div>