
<%= form_with(model: coach, local: true) do |form| %>
  <% if coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
        <% coach.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name,"Nombre" %>
    <%= form.text_field :name, autofocus: true, autocomplete: 'coach', class: 'form-control' %>
  </div>
  <div class="form-group col-md-6">
    <%= form.label :coach_type_id, "Tipo" , :class=>"control-label bold"  %>
    <%= form.select :coach_type_id, CoachType.all.map { |coach_type| [coach_type.name, coach_type.id] }, {}, {:class => "form-control input-field"} %>
  </div>


  <div class="actions">
    <%= form.submit 'Guardar', :class => 'btn btn-primary right' %>
  </div>
<% end %>










