<%= form_with(model: coach_type, local: true) do |form| %>
  <% if coach_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coach_type.errors.count, "error") %> prohibited this coach_type from being saved:</h2>

      <ul>
        <% coach_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name,"Nombre" %>
    <%= form.text_field :name, autofocus: true, autocomplete: 'coach_type', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', :class => 'btn btn-primary right' %>
  </div>
<% end %>
